<mat-card>
  <form #form [formGroup]="toDoForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="mat-form-field-flex">
      <input matInput placeholder="To Do" [errorStateMatcher]="matcher" required formControlName="toDo">
    </mat-form-field>
    <mat-form-field class="mat-form-field-flex">
      <input matInput placeholder="Priority" formControlName="priority">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!toDoForm.valid">Submit</button>
  </form>
</mat-card>

